.mainDiv{
    width: 100%;
    max-width: 348px;
    height: 218px;
    border-radius: 12px;
    padding: 22px;
    background-color: #0E0E0F0D;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.heading{
    font-weight: 700;
    font-size: 16px;
    color: #020617;
}

.mainDiv_child2{
    display: flex;
    flex-direction: column;
}

.innerDiv{
    padding: 14px 0px 14px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.borderBottom{
    border-bottom: .5px solid #0000001A;
}

.innerDiv__child1{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

@media (min-width:786px) and (max-width: 1412px){
    .mainDiv{
        max-width: 48%;
    }
}

@media (max-width:786px){
    .mainDiv{
        max-width: 100%;
    }
}