*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    height: 10.2rem;
    border-radius: 0.6rem;
    background-color: rgba(248, 248, 248, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
    border: 2px solid transparent; /* Default transparent border */
}

.card:hover {
    border-color: black; /* Set border color to black on hover */
}

.icon {
    margin-bottom: 1rem;
}

.title {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(30, 30, 30, 1);
    margin-bottom: 0.5rem;
}

.description {
    font-weight: 400;
    font-size: 0.9rem;
    color: rgba(113, 113, 122, 1);
}

/* Add responsiveness with media queries */
@media (max-width: 1024px) {
    .card {
        flex: 1 1 calc(50% - 21px); /* Switch to two cards per row on medium screens */
        max-width: calc(50% - 21px);
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(100% - 21px); /* Switch to two cards per row on medium screens */
        max-width: calc(100% - 21px);
        padding-left: 15px;
    }
   
    .cardContainer{
        margin-left: 20px;
    }
}
