.resumeContainer {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 4px 4px #00000040;

    /* margin: 0 auto; */
    font-family: Arial, sans-serif;
  }
  
  .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #2A85FE;
  }
  
  .resumeList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .resumeItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eaeaea;
  }
  
  .resumeName {
    flex: 1;
    font-size: 14px;
    color: #333;
  }
  
  .uploadDate {
    font-size: 12px;
    color: #777;
    margin-right: 10px;
  }
  
  .actions {
    display: flex;
    gap: 8px;
  }
  
  .actionButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #1a73e8;
  }
  
  .uploadSection {
    margin-top: 20px;
    text-align: center;
    border: 1px dashed #ddd;
    padding: 20px;
    border-radius: 8px;
  }
  
  .uploadButton {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    
    cursor: pointer;
  }
  
  .supportedFormats {
    font-size: 12px;
    color: #777;
    margin-top: 25px;
  }
  