.badge {
    width: 61px;
    height: 36px;
    padding: 6px 12px;
    gap: 0px;
    border-radius: 8px ;
    background-color: #1D963F; /* Green background color */
    color: white; /* White text color */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; /* Adjust font size as needed */
    font-weight: bold; /* Optional, for stronger text emphasis */
    opacity: 1; /* Set to 0 if you want it hidden initially */
  }
  