/* Background overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

    /* Buttons Container */
    .buttonsContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      
      .buttonDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        /* font-weight: bold; */
      }
  /* Popup container */
  .popup {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    text-align: center;
    position: relative;
  }


  
  /* Close button */
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Title */
  .title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  /* Form */
  .form {
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
  }
  
  /* Input fields */
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Password container */
  .passwordContainer {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .togglePassword {
    background-color: transparent;
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .togglePassword:hover {
    background: none; /* No hover effect */
    color: inherit;
  }
  
  .forgotPassword {
    display: block;
    text-align: left;
    margin-bottom: 36px;
    font-size: 16px;
    color: #000000; /* Adjust color if needed */
    text-decoration: none;
  }
  
  /* .forgotPassword:hover {
    text-decoration: underline;
  } */
  
  /* Submit button */
  .submitButton {
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #333;
  }
  


  .eyeIcon{
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  @media (max-width: 900px) {
    .passwordContainer {
      /* width: 350px; Adjust width for small screens */
      padding-left: 4px;
      padding-right: 4px;

    }

    .forgotPassword{
      padding-left: 4px;
    }

    
  }


  
.signInNav{
  display: flex;
  gap: .5rem;
  justify-content: center;
  margin-top: 12px;
}

.spanNav{
  color: #9999A0;
}

.labelNav{
  cursor: pointer;
  font-weight: bold;
}
