.toastContainer {
  width: max-content !important;
  min-width: 194px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #D8D8D8;
  display: flex;
  padding: 22px 17px;
  display: flex;
  align-items: center;
  gap: 10px;
}





/* Adjustments for screens smaller than 900px */
@media (min-width: 300px) {
  .toastContainer {
    right: 8px; /* Reduce margin on smaller screens */
    margin-left: 40px;
    top: 8px; /* Adjust top margin for smaller screens */
    min-width: 250px; /* Reduce minimum width to fit smaller screens */
  }

}




@media (min-width: 400px) {
  .toastContainer {
    right: 8px; /* Reduce margin on smaller screens */
    margin-left: 90px;
    top: 8px; /* Adjust top margin for smaller screens */
    min-width: 250px; /* Reduce minimum width to fit smaller screens */
  }

}

@media (min-width: 550px) {
  .toastContainer {
    right: 8px; /* Reduce margin on smaller screens */
    margin-left: 60px;
    top: 8px; /* Adjust top margin for smaller screens */
    min-width: 250px; /* Reduce minimum width to fit smaller screens */
  }

}




