.arrowIcon {
    height: 9px;
    width: 16.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
    transition: all .3s ease-in-out;
}

.collapseBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    height: 45px;
    background-color: #E0E0E0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.expandedIcon {
    rotate: 180deg;

}