.pointer{
    cursor: pointer;
}

.flex{
    display: flex;
}

.gap24px{
    gap: 1.5rem;
}

.alignCenter{
    align-items: center;
}

.justifyCenter{
    justify-content: center;
}

.gap14px{
    gap: .875rem;
}

.fontWeight500{
    font-weight: 500;
}

.fontSize16px{
    font-size: 1rem;
}

.alignFlexEnd{
    align-items: flex-end;
}

.gap5px{
    gap: .3125rem;
}

.filter{
    width: 7.9375rem;
    height: 2.25rem;
    border-radius: .5rem;
    border: 1px solid #BBBBBB;
    color: #7E7E7E;
}

.label{
    color: #001220;
}

.result{
    color: #FF702D;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 100%;
}

.total{
    color: #4B4B4B;
    font-size: .75rem;    
}

