.container{
    box-shadow: 0px 4px 5.3px 0px #00000026;
    height: 139px;
    width: 100%;
    border-radius: 24px;
    padding: 24px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftContanier{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-end;
    height: 100%;
}

.imgContanier{
    width: 120px;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.courseDetails{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    color: grey;
}


.courseNameDes{
    font-weight: 700;
    /* text-decoration: underline; */
    font-size: 24px;
    color: black;
}


.rightContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.percentageDes{
    font-weight: 700;
    font-size: 28px;
    color: #1D963F;
}



.downloadButton{
    width: 190px;
    height: 37px;
    border-radius: 8px;
    background-color: #FF702D;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}




@media screen {
    .courseDetails{
        flex-direction: column;
    }
}



@media (min-width: 1100px) and (max-width: 1199px) {
    .courseNameDes {
        font-size: 14px;
    }
    .courseDetails{
        font-size: 10px;
    }
    .leftContanier{
        justify-content: center;
        align-items: center;
        /* column-gap: 40px; */
    }
    .label{
        font-size: 10px;
    }
    .downloadButton{
        width: 140px;
        border-radius: 8px;
        font-size: 12px;
    }
}

@media (min-width: 1200px) and (max-width: 1299px) {
    .courseNameDes {
        font-size: 20px;
    }
    .courseDetails{
        font-size: 12px;
    }
    .percentageDes{
        font-size: 18px;
    }
    .downloadButton{
        width: 140px;
        border-radius: 8px;
        font-size: 12px;
    }
    .leftContanier{
        justify-content: center;
        align-items: center;
        /* column-gap: 40px; */
    }
}

@media (min-width: 1300px) and (max-width: 1399px) {
    .courseNameDes {
        font-size: 22px;
    }
}


@media (min-width: 1400px){
    .courseNameDes{
        font-size: 24px;
    }
}