

/* button:first-child {
    background-color: #007BFF;
    color: white;
    border: none;
} */

/* button:first-child:hover {
    background-color: #0056b3;
} */

/* button:last-child {
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
} */
/* 
button:last-child:hover {
    background-color: #f1f1f1;
} */
