.div{
    width: 100%;
    max-height: 280px;
    min-height: 240px;
    max-height: 240px;
    border-radius: 12px;
    border: 1px solid #0000000D;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
}

.imgDes{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

@media (max-width: 900px) and (min-width: 540px) {
    .div{
        max-height: 360px;
        min-height: 360px;
    }
    /* .imgDes{
        border-radius: 12px;
        width: 100%;
        height: 150%;
        object-fit:cover;
    } */
}

@media (max-width: 539px) and (min-width: 350px) {
    .div{
        max-height: 300px;
        min-height: 300px;
    }
}