.pointer{
    cursor: pointer;
}

.none{
    display: none;
}

.flex{
    display: flex;
}

.flexColumn{
    flex-direction: column;
}

/* .gap24px > *:nth-child(1) {
    margin-bottom: 1.5rem;
} */

.gap24px{
    gap: 1.5rem;
}

.gap16px{
    gap: 1rem;
}

.cardDiv{
    flex-wrap: wrap;
}   