/* CustomButtons.module.css */
.loginButton {
  display: flex;
  align-items: center;
  background-color: #FF6F00; /* Orange color */
  color: white;
  width: 117px;
  height: 39px;
  /* padding: 10px 18px 10px 18px; */
justify-content: center;
  border-radius: 10px;
  /* font-weight: bold; */
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor:pointer;
}





/* .loginButton:hover { */
  /* background-color: #FF8F00;  */
/* } */


.signUpButton {
  color: #FF6F00; /* Orange border and text */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* font-weight: bold; */
  background-color: transparent;
  border: 2px solid #FF6F00;
  width:117px ;
  height: 39px;
  font-weight: 500;
  font-size: 16px;
  cursor:pointer;
}

/* .signUpButton:hover { */
  /* background-color: #FFF3E0; */
/* } */


.secondaryTwo{
  color: #FF6F00; 
  display: flex;
  align-items: center;
  background-color: #FFE7DC; 
  border-radius: 10px;
  /* font-weight: bold; */
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  border: 2px solid #FFE7DC;
  width:117px ;
  height: 39px;
}



.smallPopupList {
  color: #FF702D; 
  display: inline-flex; /* inline-flex instead of flex to better align with text */
  align-items: center;
  background-color: #FFE7DC; 
  border-radius: 5px;
  /* justify-content: center; */
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #FF702D;
  width: 78px; /* Adjusted width for text and icon */
  height: 27px;
  padding-left: 10px; /* Add padding to control spacing */
  padding-right: 10px;
}

.span {
  margin-left: 10px; 

}


.save{
  color: #FFFFFF; 
  display: flex;
  align-items: center;
  background-color: #FF702D; 
  border-radius: 8px;
  /* font-weight: bold; */
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  border:  solid #FF702D;
  width:95px ;
  height: 37px;
}

.cancel{
  color: #4B4B4B; 
  display: flex;
  align-items: center;
  /* background-color: #FF702D;  */
  border-radius: 8px;
  /* font-weight: bold; */
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #4B4B4B;
  width:95px ;
  height: 37px;
}

/* CustomSearch.module.css */
.searchContainer {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* For shadow effect */
  width: 100%;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 12px;
  border-radius: 25px;
}

.searchButton {
  background-color: #FF6F00; /* Orange color */
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 8px;
}

.searchButton:hover {
  background-color: #FF8F00; /* Slightly darker on hover */
}



.startCourseButton {
  background-color: #FF6F00; /* Orange color */
  width: 329px;

  height: 36px;
  color: white;
  /* padding: 8px 16px; */
border-radius: 8px ;
/* border-radius: 25px; */
  font-weight: bold;
  border: none;
padding: 6px 12px 6px 12px;
font-size: 16px;
font-weight: 600;
/* padding-top: 16; */

}

.startCourseButton:hover {
  background-color: #FF8F00; /* Slightly darker shade */
}


.goToCourseButton {
  background-color: #4CAF50; /* Orange color */
  width: 329px;
  height: 36px;
  color: white;
  /* padding: 8px 16px; */
border-radius: 8px ;
/* border-radius: 25px; */
  font-weight: bold;
  border: none;
/* padding: 6px 12px 6px 12px; */
font-size: 16px;
font-weight: 600;
/* padding-top: 16; */

}



.goToCourseButton:hover {
  background-color: #5fcf63; /* Slightly darker shade */
}




.enrollCourseButton {
  background-color: #FF6F00; /* Orange color */
  width: 328px;
  height: 36px;
  color: white;
  /* padding: 8px 16px; */
border-radius: 8px ;
/* border-radius: 25px; */
  font-weight: bold;
  border: none;
padding: 6px 12px 6px 12px;
font-size: 16px;
font-weight: 600;
/* padding-top: 16; */

}

.enrollCourseButton:hover {
  background-color: #FF8F00; /* Slightly darker shade */
}
