.sidePopUp{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0px;
    /* padding-left: 12px; */
    display: flex;
    z-index: 9999999999999;
    background-color: #00000099;
    /* font-family: inherit; */
}


/* @media (max-width: 1151px){
    .sidePopUp{
       height: calc(100vh - 60px); 
    }
} */