.noDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.noDataImage {
  width: 200px; /* Adjust based on your preference */
  height: auto;
  margin-bottom: 20px;
}

.noDataMessage {
  font-size: 18px;
  color: #555; /* Customize the color as needed */
  margin-top: 10px;
}
